@if (score) {
  <h2>{{ score?.title }}</h2>
  <mat-slider min="40" max="240" step="1">
    <input matSliderThumb value="100" [(ngModel)]="tempo" />
  </mat-slider>
  <span>{{ tempo }} BPM</span>
}

<div
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)"
  class="measure-list"
>
  @for (item of measures; track item.number) {
    <app-measure
      #measureEl
      class="measure"
      cdkDragHandle
      cdkDrag
      [measure]="item"
      [tempo]="tempo"
      [showTimeSignature]="showTimeSignature(item)"
      (playCompleted)="onPlayCompleted(item.number ?? 1)"
    ></app-measure>
  } @empty {
    <li>There are no items.</li>
  }
</div>
