<div class="login-register">
  <div class="Login section">
    <h2>Login</h2>
    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="User Name" [(ngModel)]="userName">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type="password" [(ngModel)]="password">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" class="login-button" (click)="login();">Login</button>
  </div>
  <div class="Register section">
    <h2>Register</h2>
    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" [(ngModel)]="registerEmail">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="User Name" [(ngModel)]="registerUserName">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type="password" [(ngModel)]="registerPassword">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" class="register-button" (click)="register();">Register</button>
  </div>
</div>

<div class="errors" *ngIf="registerErrors">
  <div *ngFor="let error of registerErrors">
    {{ error.code }} - {{ error.description }}
  </div>
</div>