@if (isLoading) {
  <div>Loading...</div>
} @else {
  @if (isLoggedIn) {
    <div class="menu">
      <button matButton (click)="navigate('')">Home</button>
      <button matButton (click)="navigate('composers')">Composers</button>
      <button matButton (click)="navigate('scores')">
        Scores / Metronomes
      </button>
      <button matButton (click)="login()">Login</button>
    </div>

    <router-outlet></router-outlet>
  } @else {
    <button matButton (click)="login()">Login</button>
  }
}
